<div mat-dialog-content>
    <input type="text" class="title" placeholder="Título de la lista" [(ngModel)]="note.title">
    <div class="container-list">
        <div *ngFor="let c of note.checks; let i = index">
            <mat-checkbox [(ngModel)]="c.value"></mat-checkbox>
            <label *ngIf="!c.state" (click)="changeState(c, true, i)">{{c.text}}</label>
            <input class="state" [id]="'state_'+i" *ngIf="c.state == true" type="text" (blur)="changeState(c, false, i)"[(ngModel)]="c.text">
        </div>
    </div>
    <div class="input-group">
        <button mat-button (click)="addElement()">
            +
        </button>
        <input type="text" class="element" placeholder="Elemento" [(ngModel)]="element" (keyup.enter)="addElement()" (blur)="addElement()">
    </div>
</div>