.title {
    width: -webkit-fill-available;
    height: 3rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.element{
    width: -webkit-fill-available;
    height: 2rem;
    border: none;
    outline: none;
}

.input-group {
    display: flex;
}

.state {
    width: 80%;
    height: 2rem;
    border: none;
    outline: none;
}