mat-card-content{
    padding-top: 1rem;
}

.grid-notes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.btn-add {
    background-color: #8E44AD;
    color: white !important;
    padding: 1rem 1.5rem !important;
}

.content-card {
    cursor: pointer;
}

.header-card {
    display: flex;
    justify-content: space-between;
    cursor: move;
    mat-icon{
        cursor: pointer !important;
    }
}