<div class="container-page">
    <button class="btn-add" mat-button (click)="openDialog()">Nueva lista</button>

    <div class="grid-notes">
        <div *ngFor="let note of notes">
            <mat-card  cdkDrag (cdkDragMoved)="moveCard($event)" (cdkDragEnded)="endMoveCard($event, note)" >
                <mat-card-header class="header-card">
                    <mat-card-title>{{note.title}}</mat-card-title>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" (click)="deleteNote(note)"></mat-icon>
                </mat-card-header>
                <mat-card-content class="content-card" (click)="openDialog(note)">
                    <div *ngFor="let check of note.checks">
                        <mat-checkbox  [disabled]="true" [(ngModel)]="check.value">{{check.text}}</mat-checkbox>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>